extends layout/layout
block css
    <!-- libraries -->
    link(href="/vendor/css/lib/bootstrap-wysihtml5.css",rel="stylesheet")
    link(href="/vendor/css/lib/uniform.default.css",rel="stylesheet")
    link(href="/vendor/css/lib/select2.css",rel="stylesheet")
    link(href="/vendor/css/lib/bootstrap.datepicker.css",rel="stylesheet")
    link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
    <!-- this page specific styles -->
    link(href="/vendor/css/compiled/form-showcase.css",rel="stylesheet",media="screen")
    style.
        .select2-container.select2.span12 {
            margin-left: 0;
        }
block content
    .content
        .container-fluid
            .users-list#pad-wrapper
                .row-fluid.header
                    h3 #{title}
                .row-fluid
                    .span4
                    .span4
                        form.form-horizontal(method="post" action="/admin/picture/update" enctype="multipart/form-data")
                            input(type="hidden" name="picture[_id]" value=picture._id)
                            .field-box
                                label 房间:
                                mixin option(room)
                                    if picture.room == room.id
                                        option(value=room._id selected)=room.title
                                    else
                                        option(value=room._id)=room.title
                                select.select2.span12(name="picture[room]")
                                    each room in rooms
                                        +option(room)
                            .field-box
                                label 上传位置：
                                input.span12(type="text" name="picture[position]" value=picture.position)
                            .field-box
                                label 概述：
                                input.span12(type="text" name="picture[alt]" value=picture.alt)
                            .field-box
                                label 详细内容：
                                input.span12(type="text" name="picture[content]" value=picture.content)
                            .field-box
                                label 排序：
                                input.span12(type="number" name="picture[rank]" value=picture.rank)
                            .field-box
                                label 图片上传:
                                input.span12#pic(type="file" name="uploadPic")
                            .field-box
                                div.text-center
                                    input.pull-left.btn-flat.success(id="submit" type="submit" value="提交")
                .row-fluid
                    p.col-sm-2.text-center 图片预览
                    if(picture && picture.urlBack)
                        img.col-sm-10.img-thumbnail#img(src="localhost:3000/upload/" + picture.urlBack)
                    else
                        img.col-sm-10.img-thumbnail#img(src="")
block script
    script(src="/vendor/js/wysihtml5-0.3.0.js")
    script(src="/vendor/js/bootstrap-wysihtml5-0.0.2.js")
    script(src="/vendor/js/bootstrap.datepicker.js")
    script(src="/vendor/js/jquery.uniform.min.js")
    script(src="/vendor/js/select2.min.js")
    script(src="/js/pictureUpload.js")
