extends layout/layout
block css
    <!-- libraries -->
    link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
    <!-- this page specific styles -->
    link(href="/vendor/css/compiled/tables.css",rel="stylesheet",media="screen")
block content
        .content
            .container-fluid
                #pad-wrapper
                    .table-wrapper.section
                        .row-fluid.head
                            .span12
                                h4 房间列表
                        .row-fluid
                            table.table.table-hover
                                thead
                                    tr
                                        th.span1 名称
                                        th.span2 标题
                                        th.span1 修改人
                                        th.span2 修改时间
                                        th.span2 创建时间
                                        th.span1 查看
                                        th.span1 修改信息
                                        th.span1 修改图片
                                        th.span1 聊天信息
                                tbody
                                    if items && items.length > 0
                                        each item in items
                                            tr(class="item-id-" + item._id)
                                                td #{item.name}
                                                td #{item.title}
                                                if item.uploader && item.uploader.name
                                                    td #{item.uploader.name}
                                                else
                                                    td 未知
                                                td #{moment(item.createAt).format('HH:MM-MM/DD/YYYY')}
                                                td #{moment(item.updateAt).format('MM/DD/YYYY-HH:MM')}
                                                td: a(target="_blank", href="/admin/roomdetail/" + item._id) 查看
                                                td: a(target="_blank", href="/admin/roomupdate/" + item._id) 修改
                                                td: a(target="_blank", href="/admin/pictureroom/"+item._id) 图片列表
                                                td: a(target="_blank", href="/admin/room/messagelist/"+item._id+"/1") 聊天信息
block script
    script(src="/js/roomList.js")

