extends ../admin/layout

block css

block content
    .row
        form.form-horizontal(method="post" action="/admin/picture/update" enctype="multipart/form-data")
            if(picture)
                input(type="hidden" name="picture[_id]" value=picture._id)
                .form-group
                    label.col-sm-2.control-label 房间
                    .col-sm-10
                        mixin option(value)
                            if picture.room == value.id
                                option(value=value._id selected)=value.title
                            else
                                option(value=value._id)=value.title
                        select.form-control(name="picture[room]")
                            each val in rooms
                                +option(val)
                .form-group
                    label.col-sm-2.control-label 上传位置
                    .col-sm-10
                        input.form-control(type="text" name="picture[position]" value=picture.position)
                .form-group
                    label.col-sm-2.control-label 概述
                    .col-sm-10
                        input.form-control(type="text" name="picture[alt]" value=picture.alt)
                .form-group
                    label.col-sm-2.control-label 详细内容
                    .col-sm-10
                        input.form-control(type="text" name="picture[content]" value=picture.content)
                .form-group
                    label.col-sm-2.control-label 排序
                    .col-sm-10
                        input.form-control(type="number" name="picture[rank]" value=picture.rank)
                .form-group
                    label.col-sm-2.control-label 图片上传
                    .col-sm-10
                        input.form-control#pic(type="file" name="uploadPic")
                .form-group
                    label.col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type="submit") 录入
            else
                .form-group
                    label.col-sm-2.control-label 房间号
                    .col-sm-10
                        mixin option(value,title)
                            option(value=value)=title
                        select.form-control(name="picture[room]")
                            each val in rooms
                                +option(val._id,val.title)
                .form-group
                    label.col-sm-2.control-label 上传位置
                    .col-sm-10
                        input.form-control(type="text" name="picture[position]")
                .form-group
                    label.col-sm-2.control-label 概述
                    .col-sm-10
                        input.form-control(type="text" name="picture[alt]")
                .form-group
                    label.col-sm-2.control-label 详细内容
                    .col-sm-10
                        input.form-control(type="text" name="picture[content]")
                .form-group
                    label.col-sm-2.control-label 排序
                    .col-sm-10
                        input.form-control(type="number" name="picture[rank]")
                .form-group
                    label.col-sm-2.control-label 图片上传
                    .col-sm-10
                        input.form-control#pic(type="file" name="uploadPic")
                .form-group
                    label.col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type="submit") 录入
    .row
        p.col-sm-2.text-right 图片预览
        if(picture&&picture.urlBack)
            img.col-sm-10.img-thumbnail#img(src="http://139.196.93.207:3000/upload/"+picture.urlBack)
        else
            img.col-sm-10.img-thumbnail#img(src="")

block js
    script(src="/admin/js/pictureUpload.js")
