extends ../admin/layout

block css
    link(rel="stylesheet",href="/css/admin/picture.css")

block content
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th 房间
                    th 位置
                    th 概述
                    th 内容
                    th 排序
                    th 预览
                    th 更改人
                    th 修改
                    th 删除
            tbody
                if pictures && pictures.length > 0
                    each item in pictures
                        tr(class="item-id-" + item._id)
                            td #{item.room}
                            td #{item.position}
                            td #{item.alt}
                            td #{item.content}
                            td #{item.rank}
                            td: img.img-responsive(src="/upload/"+item.urlBack)
                            td #{item.uploader.name}
                            td: a(target="_blank", href= "/admin/picture/upload/?id="+item._id) 修改
                            td: button.btn.btn-danger.del(type="button", data-id=item._id) 删除
block js
    script(src="/admin/js/picture.js")
