doctype
html.login-bg
    head
        include ../include/meta
        title #{title}
        include ../include/bootstrap
        include ../include/globalStyle

        <!-- libraries -->
        link(href="/model/css/lib/font-awesome.css",rel="stylesheet")
        <!-- this page specific styles -->
        link(href="/model/css/compiled/tables.css",rel="stylesheet",media="screen")
        <!-- open sans font -->
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800",rel="stylesheet",media="screen")


    body
        include ../include/navbar
        include ../include/sidebar
        .content
            .container-fluid
                #pad-wrapper
                    .table-wrapper.section
                        .row-fluid.head
                            .span12
                                h4 房间列表
                        .row-fluid
                            table.table.table-hover
                                thead
                                    tr
                                        th.span1 名称
                                        th.span2 标题
                                        th.span1 修改人
                                        th.span2 修改时间
                                        th.span2 创建时间
                                        th.span1 查看
                                        th.span1 修改信息
                                        th.span1 修改图片
                                        th.span1 聊天信息
                                tbody
                                    if items && items.length > 0
                                        each item in items
                                            tr(class="item-id-" + item._id)
                                                td #{item.name}
                                                td #{item.title}
                                                if item.uploader && item.uploader.name
                                                    td #{item.uploader.name}
                                                else
                                                    td 未知
                                                td #{moment(item.createAt).format('HH:MM-MM/DD/YYYY')}
                                                td #{moment(item.updateAt).format('MM/DD/YYYY-HH:MM')}
                                                td: a(target="_blank", href="/admin/roomdetail/" + item._id) 查看
                                                td: a(target="_blank", href="/admin/roomupdate/" + item._id) 修改
                                                td: a(target="_blank", href="/admin/pictureroom/"+item._id) 图片列表
                                                td: a(target="_blank", href="/admin/room/messagelist/"+item._id+"/1") 聊天信息
    script(src="/model/js/jquery-3.2.1.min.js")
    script(src="/model/js/bootstrap.min.js")
    script(src="/model/js/theme.js")
    script(src="/admin/js/welcome.js")
    script(src="/admin/js/roomList.js")

