extends ../admin/layout

block css

block content
    .row
        form.form-horizontal(method="POST" action="/admin/room/update")
            input(type="hidden" name="room[_id]" value=item._id)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="name") 名称：
                div.col-sm-4
                    input.form-control(id="name" name="room[name]" type="text" value=item.name)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="title") 标题：
                div.col-sm-4
                    input.form-control(id="title" name="room[title]" type="text" value=item.title)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label QQ：
                div.col-sm-4
                    input.form-control(id="QQ" name="room[QQ]" type="text" value=item.QQ[0])
                div.col-sm-1
                    a.btn.glyphicon.glyphicon-plus
            mixin form-group(val,index)
                div.form-group
                    div.col-sm-offset-5.col-sm-4
                        input.form-control(name="room[QQ]" type="text" value=val)
                    div.col-sm-1
                        a.btn.glyphicon.glyphicon-minus
            if(item.QQ.length>1)
                each val,index in item.QQ
                    if index!==0
                        +form-group(val,index)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="phone") 客服电话：
                div.col-sm-4
                    input.form-control(id="phone" name="room[phone]" type="text" value=item.phone)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="site") 视频site：
                div.col-sm-4
                    input.form-control(id="site" name="room[video][site]" type="text" value=item.video.site)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="ctx") 视频ctx：
                div.col-sm-4
                    input.form-control(id="ctx" name="room[video][ctx]" type="text" value=item.video.ctx)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="ownerId") 视频ownerId：
                div.col-sm-4
                    input.form-control(id="ownerId" name="room[video][ownerId]" type="text" value=item.video.ownerId)
            div.form-group
                div.col-sm-offset-5.col-sm-2.text-center
                    input.btn.btn-success(id="submit" type="submit" value="提交")
                div.col-sm-2.text-center
                    input.btn.btn-warning(id="reset" type="reset" value="重置")

block js
    script(src="/admin/js/roomUpdate.js")
