doctype
html.login-bg
    head
        include ../include/meta
        title #{title}
        include ../include/bootstrap
        include ../include/globalStyle

        <!-- libraries -->
        link(href="/model/css/lib/font-awesome.css",rel="stylesheet")
        <!-- this page specific styles -->
        link(href="/model/css/compiled/signin.css",rel="stylesheet",media="screen")
        <!-- open sans font -->
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800",rel="stylesheet",media="screen")


    body
        include ../include/navbar
        include ../include/sidebar
        .content
            .container-fluid
                #pad-wrapper
                    .table-wrapper.section
                        .row-fluid.head
                            .span12
                                h4 房间列表
                        .row-fluid
                            table.table.table-hover
                                tbody
                                    tr
                                        td.align-right.span3 名称：
                                        td #{item.name}
                                    tr
                                        td.align-right.span3 标题：
                                        td #{item.title}
                                    tr
                                        td.align-right.span3 QQ：
                                        td #{item.QQ}
                                    tr
                                        td.align-right.span3 客服：
                                        td #{item.phone}
                                    tr
                                        td.align-right.span3 视频site：
                                        td #{item.video.site}
                                    tr
                                        td.align-right.span3 视频ctx：
                                        td #{item.video.ctx}
                                    tr
                                        td.align-right.span3 视频ownerId：
                                        td #{item.video.ownerId}
                                    tr
                                        td.align-right.span3 修改人：
                                        if item.uploader
                                            td #{item.uploader.name && item.uploader.name}
                                        else
                                            td 未知
                                    tr
                                        td.align-right.span3 创建时间：
                                        td #{moment(item.createAt).format('MM/DD/YYYY')}
                                    tr
                                        td.align-right.span3 修改时间：
                                        td #{moment(item.updateAt).format('MM/DD/YYYY')}
    script(src="/model/js/jquery-3.2.1.min.js")
    script(src="/model/js/bootstrap.min.js")
    script(src="/model/js/theme.js")
    script(src="/admin/js/welcome.js")
