extends ../admin/layout

block css


block content
    .row
        .col-sm-4.col-sm-offset-4
            table.table.table-hover.table-bordered
                tbody
                    tr
                        td.text-right 名称：
                        td #{item.name}
                    tr
                        td.text-right 标题：
                        td #{item.title}
                    tr
                        td.text-right QQ：
                        td #{item.QQ}
                    tr
                        td.text-right 客服：
                        td #{item.phone}
                    tr
                        td.text-right 视频site：
                        td #{item.video.site}
                    tr
                        td.text-right 视频ctx：
                        td #{item.video.ctx}
                    tr
                        td.text-right 视频ownerId：
                        td #{item.video.ownerId}
                    tr
                        td.text-right 修改人：
                        if item.uploader
                            td #{item.uploader.name&&item.uploader.name}
                        else
                            td 未知
                    tr
                        td.text-right 创建时间：
                        td #{moment(item.createAt).format('MM/DD/YYYY')}
                    tr
                        td.text-right 修改时间：
                        td #{moment(item.updateAt).format('MM/DD/YYYY')}
block js
