doctype
html
    head
        meta(charset="utf-8")
        title #{title}
        block css
        include includes/head
    body
        input(id="INITIAL_STATE_MES",type="hidden",value=messagesStr)
        if user
            input(id="INITIAL_STATE_LOG",type="hidden",value=user.name)
        script.
            var iUser={
                name:"#{user.name}",
                level:#{user.level}
            };

            //var iInfo={};
            //
            //iInfo.messageHeader = "#{messagesStr}".replace(/&quot;/gi,'\"');
            //console.log(iInfo.messageHeader);


        block content
